<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    
    {% block body %}
        {{ render(controller('App\\Controller\\HomeController::countClient')) }}
        <div class="container-fluid">
            {% include 'components/breadcrumbs.html.twig' %}
            <h1 class="text-center">
                {% block pageTitle %}{% endblock %}
            </h1>
                {% block content %}{% endblock %}
                {% include 'components/notice.html.twig' %}
        </div>
        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
         {% endblock %}
    {% endblock %}
    </body>
</html>
