{% block notice %}
    <div class="col">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="notice alert alert-{{ type }}"  >
                    <div class="text-center">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}