{% extends 'base.html.twig' %}


{% block title %}Create client{% endblock %}
{% block pageTitle %}{{ title }}{% endblock %}


{% block content %}

<div class="col">
    <div class="form">
        {{ form(form) }}

        <a href="{{ path('clients_list') }}">Back to List</a>

        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

